.mount-card {
  border: 1px solid black;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

h3 {
  font-size: 1.5em;
  text-align: center
}

.mount-description {
  text-align: center;
  font-size: .7em;
}