.heart-buttons {
  position: absolute;
  // top: 10px; /* Adjust the top position as needed */
  // right: 10px; /* Adjust the right position as needed */
}

.fa-heart {
  top: 0
}

.fa-heart-0 {
  top: 1em
}