.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 50%
}

.modal button {
  margin-left: auto; 
}

.favorite-icon {
  margin-right: auto; 
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 25%; 
}

.mount-name {
  opacity: 1
}

.enhanced-description {
  color: white 
}
