.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black
}

.modal button {
  margin-left: auto; 
}

.favorite-icon {
  margin-right: auto; 
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black
}

.modal-image {
  max-width: 25%; 
}

.mount-name {
  opacity: 1
}

.enhanced-description {
  color: white 
}

i.fa-close {
  transition: color 0.3s ease; 
}
