.favorites-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.favorites-page {
  background-color: black;
  height: 100vh;
}

.my-mounts-title {
  font-size: 2.5em;
  text-align: center;
  color: white;
  font-family: 'Righteous', 'sans-serif'
}

.no-favorites {
  font-size: 2em;
  color: white;
  font-family: 'Righteous', 'sans-serif';
  text-align: center;
  margin-top: 15%
}

.back-to-all-btn {
  margin-left: 85%
}
