.favorites-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.favorites-page {
  background-color: black
}

.my-mounts-title, .no-favorites {
  color: white;
  font-family: 'Righteous', 'sans-serif'
}

